{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "node": true },
      "exclude": ["transform-regenerator"]
    }]
  ],

  "plugins": [
    ["module-resolver", {
      "root": [
        "src",
        "test"
      ]
    }]
  ]
}
